#set($layout = "pages/layout/layout_bank.vm")
<table class="table table-hover">
    <tr>
        <td>文章标题</td>
        <td>浏览量</td>
        <td>评论数</td>
        <td>最后修改时间</td>
        <td>发布时间</td>
        <td>所属分类</td>
        <td>发布状态</td>
        <td>操作</td>
    </tr>
    #foreach($!post in $!articles)
        <tr>
            <td>$!post.postTitle</td>
            <td>浏览量</td>
            <td>$!post.commentCount</td>
            <td>$!date.format("yyyy-MM-dd HH:mm:ss",$post.postModified)</td>
            <td>$!date.format("yyyy-MM-dd HH:mm:ss",$post.postDate)</td>
            <td>$!post.postType</td>
            <td><dl class="palette palette-firm">$!post.postStatus</dl></td>
            <td>
                <a href="#" class="btn  btn-primary">编辑</a>
                <a href="#" class="btn  btn-danger">删除</a>
                #if($!post.postType eq 'draft')
                    <a href="#" class="btn  btn-danger">发布</a>
                #end
            </td>
        </tr>
    #end
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
    </ul>
</nav>
<script type="text/javascript">
    $("ul.pagination").pagination(num_entries, {
        num_edge_entries: 1, //边缘页数
        num_display_entries: 4, //主体页数
        callback: pageselectCallback,
        items_per_page:1 //每页显示1项
    });
</script>