#set($layout = "pages/layout/layout_admin.vm")
<div class="panel panel-default">
    <div class="panel-heading">查询</div>
    <div class="panel-body">
        <form class="form-horizontal" id="form">
            <div class="form-group">
                <label for="postTitle" class="col-sm-2 control-label">文章标题:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="文章标题">
                </div>
                <label for="postStatus" class="col-sm-2 control-label">发布状态</label>
                <div class="col-sm-2">
                    <select  class="form-control" id="postStatus" name="postStatus">
                        <option value="">--请选择--</option>
                        #foreach($!status in $!postStatuses)
                            <option value="$!status.value">$!status.text</option>
                        #end
                    </select>
                </div>
                <button type="button" onclick="query(1);" class="btn btn-default">查询</button>
            </div>

        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">文章列表</div>
    <div class="panel-body" id="article-list-box">

    </div>
</div>

<script type="text/javascript">
    $(function () {
        query(1);
    });
    function query(pageNum) {
        pageNum = pageNum ? pageNum : 1;
        $.ajax({
            url:"${request.contextPath}/article/list.html",
            data:$("#form").serialize(),
            dataType:"html",
            type:"POST",
            success:function (html) {
                $("#article-list-box").html(html);
            }
        });
    }
</script> 