<div id="wowslider-container1" style="width: 100%;">
</div>

<script type="text/javascript" src="${request.contextPath}/js/jR3DCarousel/jR3DCarousel.min.js"></script>
<script type="text/javascript">
        $(function () {
            var imgs = [];
            for(var i = 0 ; i < 5; i ++){
                imgs.push({src:"${request.contextPath}/img/box/45"+i+".jpg"});
            }
            $('#wowslider-container1').jR3DCarousel({
                height:400,
                slides: imgs
            });
        });
</script>
<div class="hot-posts"><h2 class="title">本周热门排行</h2>
    <ul>
        <li>None data.</li>
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        query(1);
    });

    function query(pageNum) {
        pageNum = pageNum ? pageNum : 1;
        $.ajax({
            url:"${request.contextPath}/week/hot/post/list.html",
            data:{
                pageNum:pageNum
            },
            type:"POST",
            dataType :"html",
            success:function (html) {
                $("article").remove();
                $("#content-box").append(html);
            },
            error:function () {
                alert("服务器异常!");
            }
        });
    }
</script>