<div class="widget d_comment">
    <div class="title"><h2>最新吐槽</h2></div>
    <ul>
        <li><a href="https://yusi123.com/3233.html#comment-20175" title="WordPress主题发布：Yusi1.0(扁平化+响应式)免费下载上的评论"><img
                alt="" src="https://yusi123.com/avatar/48*88d4e50cfe390923144df3d6cce52c84.jpg"
                srcset="https://yusi123.com/avatar/96*88d4e50cfe390923144df3d6cce52c84.jpg"
                class="avatar avatar-48 photo" height="48" width="48">
            <div class="muted"><i>我爱动感单车网</i>1周前 (07-03)说：<img
                    src="https://yusi123.com/wp-content/themes/yusi/img/smilies/icon_rolleyes.gif" alt=":roll:"
                    class="wp-smiley" style="height: 1em; max-height: 1em;"> 一直搞不懂，明明在主题设置里的“【手机广告】”里放置了移动网页的广
            </div>
        </a></li>
        <li><a href="https://yusi123.com/guestbook#comment-20174" title="留言上的评论"><img alt=""
                                                                                      src="https://yusi123.com/avatar/48*88d4e50cfe390923144df3d6cce52c84.jpg"
                                                                                      srcset="https://yusi123.com/avatar/96*88d4e50cfe390923144df3d6cce52c84.jpg"
                                                                                      class="avatar avatar-48 photo"
                                                                                      height="48" width="48">
            <div class="muted"><i>我爱动感单车网</i>1周前 (07-03)说：<img
                    src="https://yusi123.com/wp-content/themes/yusi/img/smilies/icon_cry.gif" alt=":cry:"
                    class="wp-smiley" style="height: 1em; max-height: 1em;"> 一直搞不懂，明明在主题设置里的“【手机广告】”里放置了移动网页的广告
            </div>
        </a></li>
        <li><a href="https://yusi123.com/3831.html#comment-20126" title="Linux系统vi(vim)编辑器命令使用教程简单介绍上的评论"><img alt=""
                                                                                                               src="https://yusi123.com/avatar/48*e03287c9c4292a434755351e67635259.jpg"
                                                                                                               srcset="https://yusi123.com/avatar/96*e03287c9c4292a434755351e67635259.jpg"
                                                                                                               class="avatar avatar-48 photo"
                                                                                                               height="48"
                                                                                                               width="48">
            <div class="muted"><i>同盟源</i>4周前 (06-15)说：呲呲</div>
        </a></li>
        <li><a href="https://yusi123.com/guestbook#comment-20123" title="留言上的评论"><img alt=""
                                                                                      src="https://yusi123.com/avatar/48*620cb094d8480ddfa88f7088262bc2b6.jpg"
                                                                                      srcset="https://yusi123.com/avatar/96*620cb094d8480ddfa88f7088262bc2b6.jpg"
                                                                                      class="avatar avatar-48 photo"
                                                                                      height="48" width="48">
            <div class="muted"><i>东莞网站优化入门教程</i>4周前 (06-14)说：博主你好，我也是用的你的模板搭建的网站，网站模板的幻灯片怎么固定文章展现。</div>
        </a></li>
        <li><a href="https://yusi123.com/3831.html#comment-20114" title="Linux系统vi(vim)编辑器命令使用教程简单介绍上的评论"><img alt=""
                                                                                                               src="https://yusi123.com/avatar/48*e42d31852103784b5b9417d83df5590a.jpg"
                                                                                                               srcset="https://yusi123.com/avatar/96*e42d31852103784b5b9417d83df5590a.jpg"
                                                                                                               class="avatar avatar-48 photo"
                                                                                                               height="48"
                                                                                                               width="48">
            <div class="muted"><i>Jack</i>1个月前 (06-12)说：我是冬天里的一把火</div>
        </a></li>
        <li><a href="https://yusi123.com/3831.html#comment-20113" title="Linux系统vi(vim)编辑器命令使用教程简单介绍上的评论"><img alt=""
                                                                                                               src="https://yusi123.com/avatar/48*e42d31852103784b5b9417d83df5590a.jpg"
                                                                                                               srcset="https://yusi123.com/avatar/96*e42d31852103784b5b9417d83df5590a.jpg"
                                                                                                               class="avatar avatar-48 photo"
                                                                                                               height="48"
                                                                                                               width="48">
            <div class="muted"><i>Jack</i>1个月前 (06-12)说：感谢博主咯</div>
        </a></li>
    </ul>
</div>