<div class="widget widget_links">
    <div class="title"><h2>友情链接</h2></div>
    <ul class="xoxo blogroll">
        <li><a href="http://nanlong123.com/" target="_blank">南龙博客</a></li>
        <li><a href="http://www.comca.cn/" target="_blank">全网目录</a></li>
        <li><a href="http://www.zhaonew.com/" target="_blank">找牛网</a></li>
        <li><a href="http://www.liaosam.com/" target="_blank">料神SAM料网</a></li>
        <li><a href="http://www.wangzhijun.com.cn" target="_blank">王志军博客</a></li>
        <li><a href="http://www.xiariboke.com" target="_blank">夏日博客</a></li>
        <li><a href="http://java-er.com/" target="_blank">月小升博客</a></li>
        <li><a href="http://www.uctheme.com/" target="_blank">导购主题</a></li>
    </ul>
</div>